[user]
    email = <email>
    name = <name>

[credential]
    helper = cache --timeout=86400

[branch]
    autosetuprebase = always

[push]
    default = current

[core]
    autocrlf = input

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[alias]
    d = diff --word-diff
    dc = diff --cached --word-diff
    co = checkout
    st = status -sb
    cp = cherry-pick -x 
    b = branch -v
    r = remote -v
    t = tag -l
    branches = branch
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    lol = log --oneline --decorate --graph
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    #who = shortlog -s --
    #whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    #stage = add --patch
    #clear = reset --hard
    #changes = log --oneline --decorate --graph @{1}..
    #merges = log --oneline --merges
    #where = describe --tags

[diff]
    tool = vimdiff
[gc]
    auto = 1
[merge]
    summary=true
