[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/CtrlP"]
	path = .vim/bundle/CtrlP
	url = https://github.com/kien/ctrlp.vim.git
